{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
            <div class="invalid-feedback">
                Username Already Exists
            </div>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name = "confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    <script>
        var button = document.querySelector("button[type='submit']");
        button.onclick = function(e) {
            e.preventDefault();
            var req = new XMLHttpRequest();
            req.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200)
                {
                    var isAvailable = JSON.parse(this.responseText);
                    if (isAvailable)
                    {
                        document.querySelector("form").submit();
                    }
                    else
                    {
                        document.querySelector("input[name='username']").classList.add("is-invalid");
                    }
                }
            };
            req.open("GET", "/check?username="+document.querySelector("input[name='username']").value, true);
            req.send();
        };
    </script>
{% endblock %}
